		h1 {
			color : white;
		}
		h2{
		   color:white;
		   
		   font-size: 100%;
		
		
		}
		p {
			color: white;
		}
		body {
			margin : 0;
			background-image:url("https://www.walldevil.com/wallpapers/a30/metallic-wallpaper-modern-cat-breeze-uddeimfiles.jpg");
			background-attachment: fixed;
			}
			
		li{ color :white ;
		
		
		
		
		}
		
		
		
		u {   color : pink ;
		
		       
		        
		        
		    }
		    
		pre {
		
		      color: white ;
		
		
		}
		
		a:hover {
		           background-color: white;
		
		}
			
		a:link {
		        text-decoration:none;
                color:pink;
                background-color: gray ;
		
		      }
		#navbar {
			list-style: none;
			margin: 0;
			padding: 0;
			
			overflow: hidden;
			/*border: 1px solid green;*/
			position:fixed;
			top:0;
			width: 50%;
		}
		
		.navitem {
		text-align:center;
	 	float: left;
		}
		
		.navitem:last-child{
		border-bottom: none;
		}
		
		.navitem a {
			display: block;
			color: blue;
			text-decoration:none;
			padding: 5px 10px;
		}
		
		.navitem a.active {
		background-color: white; 
		color: black;
		}
		
		.navitem a:hover:not(.active) {
		background-color: purple;
		color: red;
		}
		
		#main {
			margin-top: 30px;
			padding: 20px;
		
		}